<!doctype html>

<html>
    <head>
        <title>Stylistic</title>	
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/jquery-1.11.0.js"></script>
        <script src="js/bootstrap.js"></script>
        <link href="css/bootstrap.css" rel="stylesheet"></link>
        <link href="css/bootstrap-theme.css" rel="stylesheet"></link>
        <link href="css/stylistic.css" rel="stylesheet"></link>
        <script>
            $(document).ready(function(){
                $(".recommended .row").hide(0).fadeIn(500);
            });
        </script>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->        
    </head>

    <body>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="back-button" href="#" onclick="history.back(); return false"><img src="images/backicon.png" height="23"></a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home">s t y l i s t i c</a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/home">Home</a></li>
                        {{#if sessionUser}}
                            <li><a href="/myprofile">My Profile</a></li>
                            <li><a href="/logout">Logout</a></li>
                        {{else}}
                            <li><a href="/login">Login</a></li>
                        {{/if}}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <div class="title main-title">
            <div class="container recommended">
                <h4>RECOMMENDED</h4>
            </div>
        </div>

        <div class="container recommended">
            {{#each recommended}}
            <div class="row">
                <div class="col-xs-12">
                <form id="tagForm" role="form" method="get" action="/list">
                    <input type="hidden" value={{name}} name="tag"/>
                    <input type="hidden" class="gender-form" value="MF" name="gender"/>
                    <input type="image" src={{imageURL}} class="img-responsive"/>
                    <div class=tagOverlay>
                        <h6>{{name}}</h6>
                    </div>
                </form>
                </div>
            </div>
            {{/each}}
        </div>

    <!-- Allison's GA
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48641014-1', 'stylistic.herokuapp.com');
      ga('send', 'pageview');
    </script>-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48458822-2', { 'cookieDomain': 'none' });
      ga('send', 'pageview');
    </script>

    </body>
</html>
