.makeprofile-body {
    height: 100%;
}

.box-image {
}

.box-image img {
    padding-left: 17px;
    padding-top: 10px;
    padding-right: 0px;
}

.box-titles {
    padding-left: 0px;
}

.dropdown .green {
    color: #66FF33;
}

.errorMessage h5 {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    color: red;
    text-align: left;
}

.photo {
    outline: 3px dashed #4f4f4f;
    border-radius(10);
    width:100px;
    height:100px;
    color:#4f4f4f;
}

.glyphicon-pencil {
    color: black;
    font-size: 1.5em;
    vertical-align: middle;
}

.altdesign .glyphicon-pencil {
    color: black;
    font-size: 1.5em;
    vertical-align: middle;
}

.photo-edit .glyphicon-pencil {
    font-size: 1.1em;
}

.photo .glyphicon-plus {
    font-size:3em;
    color:black;
    padding-left:30px;
    padding-top:27px;
    color:#4f4f4f;
}

.navbar-fixed-top {
    position:relative;
}

.navbar-default .container{
    background-color: #FFFFFF;
    border-color: white;
    background-image: none;
    box-shadow: none;
}

.navbar-default {
    margin-bottom: 0px;
}

.navbar-toggle {
    float: right;
    border: none;
}

.navbar-default .navbar-toggle .icon-bar {
    height: 3px;
    background-color: black;
}

.navbar-default .navbar-brand {
    color: black;
    font-family: "Futura", sans-serif;
    font-size: 26px;
    border-width:0;
    padding-right: 35px;
    float: right;
}

.navbar {
    border:none;
}

.container, .navbar-default{
    background-color: white;
    box-shadow:none;
}

.back-button {
    position:relative;
    float: left;
    padding-right: 20px;
    margin-left: 15px;
    margin-top: 15px;
}


#stepsBackground, .makeprofile {
    background-color: #f6f6f6;
    height:100%;
}

.profile-back {
    background-color: #f6f6f6;
}

.profile {
    background-color:white;
    margin-top:15px;
    margin-bottom:10px;
}

.profile-card {
    padding-top:10px;
    padding-left:10px;
    padding-right:10px;
    padding-bottom:10px;
    color:#4f4f4f;
}

.profile-card h4 {
    padding-top:10px;
    text-align:left;
}

.tagline {
    padding-top:5px;
    padding-bottom:10px;
    text-align:center;
}

.tagline input {
    text-align:center;
    width:100%;
}

#skipBtn, #contBtn {
    float:right;
    margin-right:3px;
    margin-bottom:10px;
}

#skipBtn {
    border-radius(0);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    color:white;
    background-color:black;
    background-image:none;
}

.tagline input {
    border-style:none;
    font-style:italic;
}

.buttons {
    margin-bottom:10px;
}

.getStarted{
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    margin: 0 auto;
}

#home-img {
    width: 100%;
    height: 300px;
}

.photo-edit {
    position: absolute;
    bottom: 0;
    right: 15px;
    size: 20px;
}

.overlay{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 200px;
    background-color: rgba(0,0,0,0);
}


.container .overlay .text{
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    color:white;
    text-shadow:5px 5px 10px black;

}
 
.steps {
    text-align: center;
    margin-top: 15px;
    padding-top: 25px;
    padding-left: 40px;
    padding-right: 40px;
    background-color:white;
    margin-bottom: 15px;
    border: 1px;
}

#getStartedBtn { 
    width:140px;
}

.home-buttons {
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 30px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px #100;
    background-color: rgba(255,255,255, 0.3);
}

.add-box, .save-box {
    text-align: center;
}

.male img , .female img {
    box-shadow: 0px 0px 5px #000;
}

.browse .img-responsive, .recommended .img-responsive {
    box-shadow: 0px 0px 5px #000;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.list .img-responsive {
    box-shadow: 0px 0px 20px #FFF;
}

.list span, .liked-boxes span {
    font-size: 12px;
}

#createBoxBtn {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;

}

#getStartedBtn, #loginBtn, #signupBtn, #sendBtn, #contBtn, #newItemBtn, #createBoxBtn,
 #homeLoginBtn, #homeBrowseBtn, #homeMyBoxBtn, #homeRecBtn ,#confirmAddBtn, #saveBtn, #newBoxBtn {
    background-image: url('../images/stylisticbutton.jpg');
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 5px;
    text-shadow: none;
    box-shadow: 0px 0px 10px #000;
    color: white;
}

#homeLoginBtn, #homeBrowseBtn, #homeMyBoxBtn, #homeRecBtn, #createBoxBtn {
    width: 200px;
    margin-top: 20px;
}

#saveBtn {
    margin-bottom: 20px;
}

#DOB {
    float: left;
    font-family: "Avenir Book", sans-serif;
    color: #999;
}

#newItemBtn, #newBoxBtn {
    width: 150px;  
    margin-top: 10px;
    margin-bottom: 30px;
}

.form-control {
    border-radius(0);
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.step {
    padding-bottom: 20px;
    font-family: "Avenir Book", sans-serif;
}

.step p {
    color: gray;
}

.signup .row {
    display: inline-block;
}

.signup select {
    height: 35px;
}

.signup p {
    font-size: 18px;
    padding-bottom: 10px;
}

.main-title .container{
    box-shadow: 0 0 15px gray;
    background-color: black;
    color:white;
}

.title h2, h3, h4 {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: "Avenir Book", "Avenir", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: "Avenir Book", "Avenir", sans-serif;
}

.getStarted h4 {
    font-size: 150%;
}

.gender, .tags{
    font-family: "Avenir Book", "Avenir", sans-serif;
    text-align: center;
    font-size: 8pt;
}

.gender {
    padding-top: 10px;
    padding-bottom: 10px;
}

.gender .glyphicon {
    padding-top:30px;
    font-size:3em;
}

.tags {
    padding-top: 10px;
    padding-bottom: 10px;
}

.tags .row {
    padding-bottom: 5px;
}

.login {
    text-align: center;
    margin-top:75px;
}

.signup, .forgot {
    text-align: center;
    margin-top:25px;
}

.forgot, .remember {
    margin-top:15px;
}

.sign-up, .forgot{
    margin-top:10px;
}

.sub-title .container{
    background-color: #f0f0f0;
}

.browse img {
    border-radius(4);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.browse .row .col-xs-4 {
    padding-left: 5px;
    padding-right: 5px;
}

.checkedOverlay {
    color: white;
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: 5px;
    right: 5px;
    background-color: rgba(102,153,255,0.7);
    margin: 0 auto;
    text-align: center;
    visibility: hidden;
}

.tagOverlay {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 5px;
    right: 5px;
    background-color: rgba(0,0,0,0.7);
    margin: 0 auto;
    text-align: center;
}

.months option {
    height: 80px;
}

.recommended .row {
    padding-top: 20px;
}

.recommended .tagOverlay {
    color: white;
    position: absolute;
    bottom: 0px;
    left: 15px;
    right: 15px;
    background-color: rgba(0,0,0,0.7);
    margin: 0 auto;
    text-align: center;
}

#list_row {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

#list_row p {
    color: #fff;
}

#list_row h3 {
    text-align: left;
}

#list_row h5 {
    color: #fff;
    font-size: 18px;
    font-style: italic;
}

.items img {
    padding: 10px;
}

.transparent_box {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.box_items {
    background-color: rgba(0, 0, 0, 0.6);
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.box_items a img {
    border-radius: 5px;
}

.box_items .col-xs-6 {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.add {
    float: left;
    padding: 3px;

    border-radius: 6px;
    border-style: solid;
    border-width: 2px;
    border-color: white white;
}

.box_title {
    font-family: "Avenir Book", sans-serif;
    font-style: italic;
    color: #FFF;
    margin: 10px;
}

.box_title img {
    float: right;
}

.tag-stuff {
    visibility:hidden;
}

.motto {
    font-family: "Avenir Book", "Avenir", sans-serif;
    font-style: italic;
}

.tagline-text-profile {
    font-family: "Avenir Book", "Avenir", sans-serif;
    font-style: italic;
    color: black;
    background: none;
    border:none;
    text-align:left;
}

.users h2, h3 {
    text-align: left;
}

.name {
    font-family: "Avenir Book", "Avenir", sans-serif;
    font-weight: light;
    font-size: 25px;
}

.dropdown {
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid #000000;
    border-radius: 10px;
}

.dropdown ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Avenir Book", "Avenir", sans-serif;
}

.dropdown li {
    margin-bottom: 5px;
    margin-top: 5px;
    padding-left: 6px;
    padding-right: 6px;
}

.dropdown a {
    color: white;
}

.dropdown li:hover {
    background-color: green;
}

.info-icon {
    border-radius: 6px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
    margin-top: 10px;

    border-style: solid;
    border-width: 2px;
    border-color: white white;
}

.star {
    margin-top: 10px;
    margin-left: 10px;
    padding: 3px;
    border-radius: 6px;

    border-style: solid;
    border-width: 2px;
    border-color: white white;
}

.create {
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;

    border-style: dashed;
    border-color: #B3FF00;
    border-width: 3px;
}

.create a {
    color: #B3FF00;
}

.create-title {
    font-size: 20px;
    font-family: "Avenir Book", "Avenir", sans-serif;
    font-style: italic;
    background: transparent;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.create-tags {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 15px;
    font-family: "Avenir Book", "Avenir", sans-serif;
    font-style: italic;
    background: transparent;
    color: white;
}

#import-item {
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.6);
    border-style: dashed;
    border-width: 3px;
    border-color: #71A6D5;
}

#edit-import-item {
    background-color: rgba(255, 255, 255, 0.2);
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 6px;
    border-style: dashed;
    border-width: 3px;
    border-color: #71A6D5;
}


#import-item:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

#edit-import-item:hover {
    background-color: rgba(255, 255, 255, 0.6);
}

.import-form {
    border-style: solid;
    border-color: #000;
    border-width: 2px;
    border-radius: 10px;

    background-color: rgba(255, 255, 255, 0.92);
    width: 80%;
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 10;
    text-align: center;
}

.import-form h4{
    padding-top: 5px;
    padding-bottom: 5px;
}

.dotted {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-style: dashed;
    border-color: #000;
    border-width: 2px;
    margin-bottom: 15px;
}

#thisImage {
    margin-top: 10px;
}

#form-close, #box-form-close {
    float: right;
}

.day{
    padding-left: 5px;
    padding-right: 5px;
}

.month{
    padding-left: 11px;
    padding-right: 11px;
}

#tag-buttons {
    background-color: rgba(255,255,255,0.6);
    color: black;
    border-radius: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.remove-item .dropdown {
    text-align: center;
}

.dropdown button {
    border-radius: 5px;
    width: 80px;
    margin-bottom: 3px;
    margin-top: 3px;
}

#delete {
    color: red;
}

.profile-card h4 {
    text-align: center;
}

.your-boxes .row, .altstarred .liked-boxes{
    margin-top: 15px;
    border-bottom-style: solid;
    border-bottom-color: #D6D0D5;
    border-width: 1px;
}

.altdesign .row h4 {
    text-align: left;
}

.altdesign h5 {
    text-align: center;
}

.altyours .row .img-responsive {
    margin-bottom: 15px;
    border-left: 6px solid #74AFFC;
    border-top-right-radius: 10px;
}

.altstarred .row .img-responsive {
    margin-bottom: 15px;
    border-left: 6px solid #FCC174;
    border-top-right-radius: 10px;
}

.half-title {
    padding-left:0px;
    padding-right:0px;
}

.current .main-half-title {
    box-shadow: 0 0 20px gray;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-bottom: 1px ;
}

.altdesign .main-half-title {
    background-image: url("/images/blackfadewhite.png");
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: 0 -3px 10px 1px gray;
    text-shadow:0 5px 10px black;
    color: white;
}

.sub-half-title {
    background-color: #f6f6f6;
}

/*.altdesign .main-half-title {
    border-bottom: 2px solid #74AFFC;
    box-shadow: 0 -3px 10px 1px gray;
}*/

#cycler{
    position: relative;
}
#cycler img{
    position: absolute;
    z-index:1 ;
    width: 100%; 
    height: 700px;
}
#cycler img.active{
    z-index: 3;
}
.filler {
    width: 100%;
    height: 700px;
}
#circle-down{
    background-color: rgba(255,255,255,0.4);
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50px;
}